.alert {
    position: fixed;
    top: 0;
    padding: 5px;
    z-index: 999;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    display: none;
    text-align: center;
}
.dragbox {
    overflow: hidden;
    position: absolute;
}

.dragbox .header{
    opacity: 0;
    cursor: move;
    margin-top: -16px;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}
.dragbox:hover .header {
    opacity: 1;
}

.CodeMirror pre{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.CodeMirror {
    font-size: 12px;
}

.ui-accordion-header {
    background-color: #2f2f2f;
    border: 1px solid #999999;
}

.ui-accordion .ui-accordion-content {
    padding: 0px;
    border: 1px solid #999999;
}

.ui-accordion .ui-state-default {
    color: white;
}