<div id="${wid}" style="width: 100%; height: 100%;"></div>
<script type="text/javascript">
    $(function () {
        var viewid = "${wid}";
        var seriesOptions = [],
            seriesCounter = 0,
            names = ['MSFT', 'AAPL', 'GOOG'];

        $.each(names, function (i, name) {
            $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=' + name.toLowerCase() + '-c.json&callback=?', function (data) {
                seriesOptions[i] = {
                    name: name,
                    data: data
                };
                seriesCounter++;
                if (seriesCounter == names.length) {
                    createChart();
                }
            });
        });

        function createChart() {
            chart = new Highcharts.StockChart({
                chart: {
                    renderTo: viewid
                },
                rangeSelector: {
                    selected: 4
                },
                yAxis: {
                    labels: {
                        formatter: function () {
                            return (this.value > 0 ? '+' : '') + this.value + '%';
                        }
                    },
                    plotLines: [ {
                            value: 0,
                            width: 2,
                            color: 'silver'
                    } ]
                },
                plotOptions: {
                    series: {
                        compare: 'percent'
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                    yDecimals: 2
                },
                series: seriesOptions
            });
        }
    });
</script>