<span id="tweet" style='width: 100%; height: 100%;'>Loading tweets...</span>
<script type="text/javascript">
    var searchstring = 'jslate';
    var tweets = null;
    var i = 0;

    function displayTweet(){
        if(tweets != null){
            $('#tweet').text(tweets[i].from_user +': '+ tweets[i].text);
            i++;
            if(i>tweets.length){i=0;}
        }
    }
    function getNewTweets(){
        $.getJSON("/proxy.php?url=http://search.twitter.com/search.json?q="+searchstring,
        function(data){
            tweets = data.results;
            displayTweet();
        });
    }
    getNewTweets();
    setInterval(getNewTweets,60000);
    setInterval(displayTweet,10000);


</script>